.main-banner-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.main-banner-text h2 {
  position: absolute;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
}
