.main-banner {
  position: relative;
  background-image: url("../assets/img/jpg/home-v2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 969px;
}
.main-banner-dark {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
